registry=https://nexus-frontend.frameworks.allianz.io/repository/npm-public/
email=gdf-npm-read@allianz.com
always-auth=true
engine-strict=true
//nexus-frontend.frameworks.allianz.io/repository/npm-public/:_auth="Z2RmLW5wbS1yZWFkOnMhQVRoYW1sYiplPWFUKnlhOGxk=="